.App {
  text-align: center;
  padding: 2em;
}

.action-area{
  justify-content: center
}

.player-selection-container{
  display: flex;
  justify-content: center;
}

.player-selection{
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-selection .label{
  padding: 1em;
}

.player-selection .input{
  padding: 0.5em 1em;
}

.game-page-container{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
}

.MuiCard-root{
  margin-top: 1em;
  min-width: 325px!important;
}
