.App {
  text-align: center;
}

.action-area{
  justify-content: center
}

.player-selection-container{
  display: flex;
  justify-content: center;
}

.leaderboard-container, .player-selection{
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-selection .label{
  padding: 1em;
}

.player-selection .input{
  padding: 0.5em 1em;
}

.game-page-container{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
}

.MuiCard-root{
  margin-top: 1em;
  min-width: 325px!important;
}

.form-control-select-move{
  width: 10em
}
.leaderboard-card{
  max-width: 30em;
}

.MuiList-root a{
  text-decoration: none;
  color: rgba(0,0,0,0.87)
}